@model Lab4RPBDIS.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Список Остановок";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Код Остановки</th>
            <th>Название</th>
            <th>Конечная</th>
            <th>Диспетчер</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stop in Model.Stops)
        {
            <tr>
                <td>@stop.StopId</td>
                <td>@stop.Name</td>
                <td>@stop.IsTerminal</td>
                <td>@stop.HasDispatcher</td> 
            </tr>
        }
    </tbody>
</table>
